*.log
*.a
*.o
*.exe
*.bak
*~
*.dep
*.orig
*.hex
*.map
*.bin
*.out
*.sim
*.dbgdt
*.dni
*.jlink
*.wsdt
*.config
*.pbd
*.ewd
*.ewt
*.d
*.r90
*.r90
*.s90
*.d90
*.a90
*.pbi
*.cap
*.pcapng
*.pcap
*.patch
*.cout
*.lst
*.cap
*.csv
*.CAP
*.xcl
*.zip
*.wspos
*.browse
*.ewsample
*.asm
*.ind
*.7z
*.hex
*.elf
*.eep
*.emSession
*.depend
*.layout
*.dmp
tags
trash/
apps/
test-results.xml
.vscode/
.vs/
Debug/
settings/
*.componentinfo.xml
bin/
Backup*
BACnet_BDT_table
address_cache
/build/*
/_build/*
CMakeLists.txt.user
/out/*

##### Linux
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

##### MacOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

._*

